@inject SignInManager<AppUser> signInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Bicycle</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/jquery/jquery.min.js"></script>
        <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute">
    </environment>
    @await RenderSectionAsync("Head",required:false)
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Bisiklet</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav flex-grow-3">
                            @if (signInManager.IsSignedIn(User))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Home" asp-action="Rentbicycle"><i class="fas fa-bicycle"></i>&nbsp; Bisikletlerim</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area=""><i class="fa fa-user" aria-hidden="true"></i> @User.Identity.Name</a>
                                </li>
                                <li class="nav-item">
                                    <form method="post" asp-controller="Account" asp-action="Logout">
                                        <button type="submit" class="nav-link btn btn-link">
                                            <i class="fa fa-sign-out-alt" aria-hidden="true"></i> Çıkış
                                        </button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Account" asp-action="Register"><i class="fas fa-user-plus" aria-hidden="true"></i> Kayıt</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Account" asp-action="Login"><i class="fa fa-sign-in-alt" aria-hidden="true"></i> Giriş</a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Bicycle - <a asp-area="" asp-controller="Home" asp-action="Index">Privacy</a>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
