<div class="row">
    <div class="col-sm-12 ml-1">
        <h4 class="text-success ml-2">@ViewBag.Title</h4>
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login"><i class="fa fa-sign-in-alt" aria-hidden="true"></i> Giriş Yap</a>
    </div>
</div>
